[package]
name = "burn-mamba"
version = "0.5.0"
edition = "2024"

[features]
default = ["mamba1", "mamba2"]
mamba1 = []
mamba2 = []

[dependencies]

### For the main branch. ###
burn = { version = "0.20.0-pre.6", default-features = false }

### For local development. ###
# burn = { path = "../burn/crates/burn", default-features = false } # local burn with ndarray-f16 + graph-sweep
# [patch.crates-io]
# ndarray = { path = "../ndarray" } # local ndarray with f16 support
