[package]
name = "burn-mamba"
version = "0.5.1"
edition = "2024"

[features]
default = ["mamba1", "mamba2"]
mamba1 = []
mamba2 = []
# backend selection for tests or examples
dev-ndarray = ["burn/ndarray", "_dev-has-backend"]
dev-ndarray-simd = ["dev-ndarray", "burn/simd"]
dev-ndarray-blas-accelerate = ["dev-ndarray", "burn/accelerate"]
dev-ndarray-blas-netlib = ["dev-ndarray", "burn/blas-netlib"]
dev-ndarray-blas-openblas = ["dev-ndarray", "burn/openblas"]
dev-tch-cpu = ["burn/tch", "_dev-has-backend"]
dev-tch-gpu = ["burn/tch", "_dev-has-backend"]
dev-wgpu = ["burn/wgpu", "burn/default", "_dev-has-backend"]
dev-metal = ["burn/metal", "burn/default", "_dev-has-backend"]
dev-vulkan = ["burn/vulkan", "burn/default", "_dev-has-backend"]
dev-cuda = ["burn/cuda", "burn/default", "_dev-has-backend"]
dev-rocm = ["burn/rocm", "burn/default", "_dev-has-backend"]
dev-remote = ["burn/remote", "_dev-has-backend"]
# misc features for tests or examples
dev-f16 = []
dev-autotune = ["burn/autotune"]
dev-fusion = ["burn/fusion"]
_dev-has-backend = [] # signal if any backend was selected

[dependencies]

### For the main branch. ###
burn = { version = "0.20.0-pre.6", default-features = false }
### For local development. ###
# burn = { path = "../burn/crates/burn", default-features = false } # local burn with ndarray-f16 + graph-sweep
# [patch.crates-io]
# ndarray = { path = "../ndarray" } # local ndarray with f16 support

[dev-dependencies]
num-traits = "0.2.19"
rand = "0.9.2"
rand_distr = "0.5.1"
serde = { version = "1.0.0", features = ["derive"] }
flate2 = "1.1.4"
dirs = "6.0.0"

### For the main branch. ###
burn = { version = "0.20.0-pre.6", default-features = false, features = ["autodiff", "train", "dataset", "std"] }
burn-dataset = { version = "0.20.0-pre.6", default-features = false, features = ["network"] }
### For local development. ###
# burn = { path = "../burn/crates/burn", default-features = false, features = ["autodiff", "train", "dataset", "std"] }
# burn-dataset = { path = "../burn/crates/burn-dataset", default-features = false, features = ["network"] }
